@font-face {
  font-family: "Norse Bold";
  src: url(font/Norse-Bold.otf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-size: 62.5%;
  --black: #0e0e0e;
  --black-trans: #0e0e0eb2;
  --white: #f9fafb;
  --green: #596d48;
  --heading-width: 10rem;
  --margin-bottom: 2rem;
}

body {
  height: 100vh;
  background-color: var(--black);
  padding-top: 1.2rem;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 100%;
  width: 78%;
  background-color: var(--white);
  margin: 0 auto;
  display: flex;
}

.main-content {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20rem 6rem;
}

.form {
  position: absolute;
  /* Overrides padding (left, 3rem) */
  left: 0rem;
  width: 100%;
}

label {
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

input {
  border: 1px solid #e5e7eb;
  width: 22rem;
  height: 2.75rem;
  border-radius: 5px;
  font-family: inherit;
  padding: 0 1rem;
}

input:focus {
  border: 1px solid red;
  box-shadow: 5px 3px 5px #d1d1d181;
  outline: none;
}

input:valid {
  border: 1px solid green;
}

.form-row {
  display: flex;
  gap: 10rem;
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: var(--margin-bottom);
}

.form-bottom {
  padding-left: 6rem;
}

.form-div {
  background-color: #fff;
  box-shadow: 0px 5px 5px #53535373;
  padding: 2rem 6rem;
  margin-bottom: calc(var(--margin-bottom) * 2);
}

p {
  line-height: 3.5rem;
}

.p-large {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: var(--margin-bottom);
}
.p-small {
  font-size: 2rem;
  margin-bottom: var(--margin-bottom);
}

button {
  background-color: var(--green);
  border: none;
  color: var(--white);
  padding: 1.5rem 5rem;
  border-radius: 5px;
  margin-bottom: var(--margin-bottom);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.image {
  height: 100%;
  width: 40%;
  background: url(img/img_main);
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  width: 100%;
  height: 15rem;
  background-color: var(--black-trans);
  position: relative;
  top: 20rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Norse Bold";
  font-size: var(--heading-width);
}

.img-odin {
  height: calc(var(--heading-width) * 1.2);
  width: var(--heading-width);
}

footer {
  position: relative;
  top: 85rem;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

footer a:link,
footer a:visited {
  color: var(--white);
  cursor: pointer;
}

form a:link,
form a:visited {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
