@font-face {
  font-family: "Norse Bold";
  src: url(font/Norse-Bold.otf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  font-size: 62.5%;

  --black: #0e0e0e;
  --black-trans: #0e0e0eb2;
  --white: #f9fafb;
  --heading-width: 10rem;
}

body {
  height: 100vh;
  background-color: var(--black);
  padding-top: 1.2rem;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 100%;
  width: 78%;
  background-color: var(--white);
  margin: 0 auto;

  display: flex;
}

.main-content {
  height: 100%;
  width: 100%;

  position: relative;

  padding: 20rem 6rem;
}

.form {
  /* background-color: deeppink; */
  position: absolute;

  /* Overrides padding (left, 3rem) */
  left: 0rem;
  width: 100%;
}

.form-div {
  background-color: #fff;
  box-shadow: 0px 5px 5px #53535373;
  padding: 2rem 6rem;
}

.p-large {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.image {
  height: 100%;
  width: 40%;

  background: url(img/img_main);
  background-size: cover;
  background-repeat: no-repeat;

  /* display: flex;
  flex-direction: column; */
}

.heading {
  width: 100%;
  height: 15rem;
  background-color: var(--black-trans);

  position: relative;
  top: 20rem;

  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Norse Bold";
  font-size: var(--heading-width);
}

.img-odin {
  height: calc(var(--heading-width) * 1.2);
  width: var(--heading-width);
}

footer {
  position: relative;
  top: 86rem;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
